<div class="topbar">
	<img src="/app/media/logo.png"/>
</div>


<style media="screen and (min-width:1200px)">
	.topbar{
		position: absolute;top: 0px;left: 0px;width: 100px;bottom: 0px;background: var(--sys-color-1);
	}
	.topbar img{
		position: absolute;top: 30px;left: 30px;width: 40px;height: 40px;
	}
</style>
<style media="screen and (min-width:640px) and (max-width:1200px)">
	.topbar{
		position: absolute;top: 0px;left: 0px;width: 80px;bottom: 0px;background: var(--sys-color-1);
	}
	.topbar img{
		position: absolute;top: 20px;left: 20px;width: 40px;height: 40px;
	}
</style>
<style media="screen and (max-width:640px)">
	.topbar{
		position: absolute;top: 0px;left: 0px;right: 0px;height: 80px;
		background: var(--sys-color-1);
	}
	.topbar img{
		position: absolute;top: 20px;left: 20px;width: 40px;height: 40px;
	}
</style>